<div class="panel-heading">
    <h1 class="panel-title">
        <%= @movie.title %> (<%= @movie.year %>)
    </h1>
</div>
<div class="panel-body">
    <p>Rating: <%= @movie.rating %>/10 Stars</p>
    <p>Description: <%= @movie.description %></p>
    
    <h2>Cast</h2>
    <ul>
        <% @movie.roles.each do |role| %>
            <li><%= link_to role.actor.name, role.actor %> as <%= role.name %>
                | <%= link_to 'Edit', edit_movie_role_path(role.movie, role), :class => 'btn btn-sm btn-default' %> 
                | <%= link_to 'Delete', movie_role_path(role.movie, role), method: :delete, data: { confirm: "Are you sure you want to delete #{role.name}?" }, :class => 'btn btn-sm btn-default' %>
            </li>
        <% end %>
    </ul>
    
    <p><%= link_to 'Add Cast Member', new_movie_role_path(@movie), :class => 'btn btn-primary' %></p>
</div>